@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #3c87ff;
}
.wrapper {
  max-width: 405px;
  margin: 135px auto;
  background-color: #fff;
  border-radius: 7px;
}
.task-input {
  height: 52px;
  padding: 8px 25px;
  position: relative;
}
.task-input i {
  position: absolute;
  top: 50%;
  transform: translate(17px, -45%);
}
.task-input input {
  height: 100%;
  width: 70%;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0 20px 0 53px;
  outline: none;
}
.task-input button {
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 7px 13px;
  margin-left: 15px;
  background-color: #3c87ff;
  cursor: pointer;
}
.task-input input::placeholder {
  color: #bfbfbf;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span {
  cursor: pointer;
  margin: 0 8px;
  font-size: 17px;
}
.filters span.active {
  color: #3c87ff;
}
.filter span:first-child {
  margin-left: 0;
}
.controls #clear-btn {
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 7px 13px;
  background-color: #3c87ff;
  font-size: 13px;
  cursor: pointer;
}
.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-box {
  margin: 20px 25px;
}
.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}
.task-box .task:last-child {
  margin-bottom: 20px;
  border-bottom: 0;
  padding-bottom: 20px;
}
.task label {
  display: flex;
}
.task label p.checked {
  text-decoration: line-through;
}
.task label input {
  margin-right: 12px;
}
.task .settings {
  cursor: pointer;
  position: relative;
}
.settings .task-menu {
  position: absolute;
  background-color: #fff;
  padding: 5px 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
  right: -5px;
  bottom: -65px;
  transform: scale(0);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transform-origin: top right;
  transition: transform 0.2 ease;
}
.settings .task-menu.show {
  transform: scale(1);
}
.task-menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  justify-content: flex-start;
  padding: 17px 15px;
}
.task-menu li:last-child {
  margin-bottom: 0;
}
.task-menu li:hover {
  background-color: #f5f5f5;
}
.task-menu li i {
  padding-right: 8px;
}
